/* style css of Cake my Day */

body {
    background: repeating-linear-gradient(90deg, #E2C9D7, #E2C9D7 20px, #E9D2DF 0, #E9D2DF 40px);
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
    /* padding: 0; */
}

.container {
    width: 59.25%;
    background-color: #ffffffaf;
    margin: auto;
    border-left: 15px solid #b934a2;
    /* margin: 2px; */
}

header {
    height: 115px;
    background-color: white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.logo {
    padding: 5px 10px;
}

.responsive {
    width: 100%;
    height: auto;
}

.heading {
    padding-right: 10px;
    padding-top: 20px;
}

h1 {
    background-color: #b934a2;
    color: white;
    font-size: 1.5em;
    padding: 5px;
}

p {
    color: #b934a2;
    font-size: 1em;
}

/* .sec2 .sec3 .sec4 {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
} */


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
